<html lang="es" >

<head>
  <meta charset="UFT-8">
  <meta  http-equiv="X-UA-Compatible"content="IE-edge">
  <meta NAME ="viewport"content="width-device-width,initial-sacle-1.0">
  <title>login </title>
  <link rel="icon" href="./img/Zoo.png">
 
 
</head>

<body>
  <div class ="container">

    <div class = "container-form">
      <img src="./img/Zoo.png" alt="esto es una imgagen de candado">
      <h2>Iniciar Sesion </h2>

      <form action="">
        <input type="text" placeholder="usuario">
        <input type="password" placeholder="password">
        <input type="checkbox"id="">Recuerdame
        <a hewf="#">olvidadeste tu contraseña? </a>
        <input type="submit" value="Inicicar sesion">
      </form>

    </div>

  </div>
</body>

</html>
  

